---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Step-by-Step flow of what happens";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="The flow:"
      description={description}
    />
    <Accordion />
  </div>
</Section>